body {
    background-color: lightgrey;
}

body main {
    min-height: 70vh;
}

body .logoppal {
    width: 80px;
    height: 80px; }


.servicios {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    margin: 20px;

}

.card1 {
    grid-column: 1/2;
    grid-row: 1;
    width: 18rem;
}

.card2 {
    grid-column: 2/2;
    grid-row: 1;
    width: 18rem;
}

.card3 {
    grid-column: 1/2;
    grid-row: 2;
    width: 18rem;
}

.card4 {
    grid-column: 2/2;
    grid-row: 2;
    width: 18rem;
}

.formulario {
    margin-top: 80px;
    margin-bottom: 80px; }
  
  .form-reserv {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px; }
  
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  
  input[type="date"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

body footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 0; }
    
body footer img {
    max-width: 20px;
    max-height: 20px; }